{% extends 'base.html.twig' %}

{% block title %}
	BLOG / INDEX
{% endblock %}

{% block body %}
	<h1>
		<a href="{{ path('blog_add') }}">Add new post</a>
	</h1>
	<hr>

	{% for id, post in posts %}
		<h3>{{ post.title | upper }}</h3>
		<p>{{ post.date | date('Y-m-d H:i:s') }}</p>
		<p>
			<a href="{{ path('blog_show', {'id':id}) }}">{{ id }}</a>
		</p>
	{% endfor %}
{% endblock %}
