{% extends 'base.html.twig' %}

{% block title %}
	BLOG / POST
{% endblock %}

{% block body %}

	<p>{{ id }}</p>

	<h3>{{ post.title }}</h3>
	<p>{{ post.text }}</p>
	<p>{{ post.date | date('Y-m-d H:i:s') }}</p>
	<p>{{ 1234 | price }}</p>
	<br>

	<h3>Globals</h3>

	<h4>Symfony</h4>
	<p>{{ app.environment }}</p>
	<p>{{ app.user }}</p>
	<p>{{ app.request }}</p>
	<p>{{app.request.basepath}}</p>
	<p>{{app.request.baseurl}}</p>
	<p>{{app.request.uri}}</p>
	<p>{{ app.session.isStarted() }}</p>
	<p>{{ app.debug }}</p>

	<h4>Custom</h4>
	<p>Locale:
		{{ locale }}</p>
	<p>Message:
		{{ message }}</p>

{% endblock %}
