<div class="media text-muted pt-3">
	<img data-src="holder.js/32x32?bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded"/>
	<span class="d-block">
		<strong class="text-gray-dark">@username</strong>
		<small>{{ post.time | date('Y-m-d H:i:s') }}</small>
		<span>{{ post.title | upper }}</span>
		<br/>
		<a href="{{ path('micropost_post', {'id': post.id }) }}">{{ post.text }}</a>
		<small class="d-block text-right mt-3">
			<a href="{{ path('micropost_edit', {'id': post.id }) }}">Edit</a>
			<a href="{{ path('micropost_delete', {'id': post.id }) }}">Delete</a>
		</small>
	</span>
</div>
